<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet">
<header>
    <div >
        <img src="../../../assets/logo-semear.png" alt="">
        <nav >
            <ul class="menus">
                <li>Baixar currículo</li>
                <li>Vagas</li>
                <li>Sair</li>
                
            </ul>
        </nav>
    </div>
</header>
