
<div class="container">
    <form>
     <div>
       <h1>Currículo</h1>
     </div>
     <div class="tittle">
       <p>Endereço</p>
     </div>
     <mat-form-field>
       <input matInput  placeholder="Cep" name="cep">
     </mat-form-field>
     <mat-form-field>
       <input matInput placeholder="Estado" name="estado">
     </mat-form-field>
     <mat-form-field>
       <input matInput placeholder="Cidade" name="cidade">
     </mat-form-field>
     <div class="tittle">
       <p>Informações de contato</p>
     </div>
     <mat-form-field>
       <input matInput type="tel" placeholder="Celular">
     </mat-form-field>
     <mat-form-field>
       <input matInput type="email" placeholder="Email">
     </mat-form-field>
     <mat-form-field>
       <input matInput placeholder="Linkedin">
     </mat-form-field> 
     <div class="tittle">
       <p>Informações acadêmica</p>
     </div>
     <mat-form-field>
       <input matInput placeholder="Faculdade">
     </mat-form-field>
     <mat-form-field>
       <input matInput placeholder="Curso">
     </mat-form-field> 
     <mat-form-field>
       <input matInput  placeholder="Ano de conclusão">
     </mat-form-field> 
     
       <button mat-raised-button color="primary"> Salvar</button>
       
     
   </form>
 </div>
   
  
  
 
 
 
 
 
