form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

mat-form-field{
    display: flex;
    height: 60px;
    width: 500px;
}

.tittle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;

    
    
}

.button{
    display: flex;
    align-self: center;
    gap: 10px;
}