<div class="container">

  <mat-card class="card">

    
    <div>
      <h1>Informações Pessoais</h1>
    </div>
    <div class="tittle">
      <p>Endereço</p>
    </div>
    <mat-form-field class="form-input">
      <input matInput  placeholder="Cep" name="cep">
    </mat-form-field>

    <mat-form-field class="form-input">
      <input matInput placeholder="Estado" name="estado">
    </mat-form-field>

    <mat-form-field class="form-input">
      <input matInput placeholder="Cidade" name="cidade">
    </mat-form-field>
      
    
    <div class="tittle">
      
      <p>Informações de contato</p>
    </div>

    <mat-form-field class="form-input">
      <input matInput type="tel" placeholder="Celular">
    </mat-form-field>

    <mat-form-field class="form-input">
      <input matInput type="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field class="form-input">
      <input matInput placeholder="Linkedin">
    </mat-form-field> 
   
    <div class="tittle">
      <p>Informações acadêmica</p>
    </div>

    <mat-form-field  class="form-input">
      <mat-select placeholder="Faculdade">
        <mat-option *ngFor="let faculdade of faculdades" value="" >{{faculdade.name}}</mat-option>
        
      </mat-select>
    </mat-form-field>

    <mat-form-field  class="form-input">
      <mat-select placeholder="Curso">
        <mat-option *ngFor="let curso of cursos" value="" >{{curso.name}}</mat-option>
        
      </mat-select>
    </mat-form-field>


    <mat-form-field  class="form-input">
      <mat-select placeholder="Status do curso">
        <mat-option value="option">Concluído</mat-option>
        <mat-option value="option">Em andamento</mat-option>
        <mat-option value="option">Pausado</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-input">
      <input matInput  placeholder="Ano de conclusão">
      <mat-hint>MM/AAAA</mat-hint>
    </mat-form-field> 

    <div class="tittle">
      <p>Resumo</p>
    </div>

    <mat-form-field class="form-input-text" >
      <mat-label>Faça um breve resumo sobre você e seus objetivos</mat-label>
      <textarea matInput name="Resumo" rows="10" #message maxlength="500" autofo></textarea>
      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
    </mat-form-field>
    
    
    <div class="button">
      <button mat-raised-button color="primary"> Salvar</button>
    </div>
      
    

</mat-card>




</div>


 
 
