<header>
    <img src="../../../assets/logo-semear.png" >
</header>
    <div class="container">
    
        <mat-card class="card">
            <h1>entrar</h1>
            
            <mat-form-field class="form-field">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" class="form-input" >
                <mat-icon matSuffix> email</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="form-field">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="senha" class="form-input" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
            </mat-form-field>
            
            <div class="button">
                
                <button type="submit"  mat-raised-button color="primary">Entrar</button>
                <div class="register">
                <label for="button-register" > Não tem uma conta?</label>
                <a routerLink="/register" class="button-register">Registrar</a> 
                </div>
                
            </div>
        
        </mat-card>
    </div>
    

